@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@font-face {
    font-family: 'Snell Roundhand';
    font-style: italic;
    font-weight: 500;
    src: local('Snell Roundhand'), url('fonts/SnellRoundhand.woff') format('woff');
}